<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Twitter", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Главная",   root_path %></li>
        <li><%= link_to "Помощь", help_path   %></li>
        <li><%= link_to "Вход", '#' %></li>
      </ul>
    </nav>
  </div>
</header>